<nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="/app/clientes">Agregar cliente</a>
                <a class="navbar-brand" href="/app/mostrar_clientes">Clientes</a>
                <a class="navbar-brand" href="/app/productos">Agregar producto</a>
                <a class="navbar-brand" href="/app/mostrar_productos">Productos</a>
                <a class="navbar-brand" href="/app/ventas">Agregar venta</a>
                <a class="navbar-brand" href="/app/mostrar_ventas">Ventas</a>
                <a class="btn btn-primary" href="#signup">Fede</a>
            </div>
        </nav>